:root{
  --black-200: #212121;
  --purple-200: #8733ff
}

.logosite{
  width: 150px;
  height: 150px;
}
body{
  background-color: var(--black-200);
  margin: 0;
  padding: 0;
}
.backgroundHeaderColor{
  background-color: var(--purple-200);

}
.containerHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}